.search{
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: black;
	border-radius: 0;
	width: 300px;
  }
 

  .tableContainer1 {
    padding: 11px 17px;
    margin-top: 65px;
}

  .tableContainer2{
	margin-top: -80px;
	padding-left:19px;
  }
  
.tableContainer2{
	box-shadow: rgba(105, 105, 139, 0.2) 0px 7px 29px 0px;
	background-color: white;
	border-radius: 10px;
  }
  
  .search1{
	padding: 20px;
  }
  .sorting{
	padding: 10px;
  }
  .sorting p{
	color: #BBC0C6;
	margin: 0; 
	padding: 0; 
	font-size: 15px;
  }
  
  .sorting select{
	border: none;
	font-weight: 500;
	font-size: 15px;
  }
  
  .handlepage{
	margin-top: 20px;
	display: flex;
	justify-content: center;
  }
  
  @media (max-width: 768px) {
	.search{
	  width: 80%;
	  background-color: #F2F4F7;
	}
  
	.tableContainer2{
	  box-shadow: none;
	  background-color: #F2F4F7;
	  border-radius: 0px;
	}
  
	.sorting p{ 
	  font-size: 13px;
	}
.sorting select{
	  background-color: #F2F4F7;
	  font-size: 13px;
	}
  }