* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.input-error {
	border: 1px solid red;
  }

  .input-group-text{
	cursor: pointer;
    padding: 21px;
    height: 10px;
  }
  

.logincontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	min-height: 400px; 
	background-image: url('../assets/login-bg-1.svg');
	background-size: cover;
	background-position: right bottom;
	border-radius: 0 0 10px 0 !important;
	/* border: 1px solid black; */
} 

.content {
	margin-top: -200px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.image img {
	width: 85px;
}

.logincontainer h1 {
	color: white;
	font-size: 16px;
	margin: 20px 0px 25px 20px;
}


.titleBox {
	position: absolute;
	top: 170px;
	width: 410px;
	background-color: white;
	height: 492px;
	box-shadow: 2px 10px 3px 1px grey;
	padding: 20px;
	border-radius: 10px;
	margin-top: 17px;
}

.titleBox>p {
	margin-top: 20px;
	text-align: center;
	font-weight: bolder;
}

.form1 .formDec label {
	margin-top: 10px;
}

.formDec input {
	padding: 10px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 5px 0;
}


.formDec .icon {
	position: absolute;
	right: 10px;
}


.form1 .passwordbox {
    font-weight: 500;
    margin-top: -7px;
    text-align: right;
    cursor: pointer;
    color: #0e6ac0;
    font-size: 13px;
}

.formBox {
	margin-top: 35px;
}

.loginBtnInfo {
	border: none;
	padding: 12px 60px;
	background-color: #035EB3;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.loginBtnInfo:hover {
	background-color: #024f9b;
}


.password-input-group {
	display: flex;
	align-items: center;
  }
  
  .password-input-group input {
	flex: 1;
	padding-right: 30px; 
  }
  
  .password-toggle {
	cursor: pointer;
	position: absolute;
	right: 10px; 
	top: 50%; 
	transform: translateY(-50%); 
  }
  

@media (max-width: 581px) {
	.logincontainer{
	  margin: 0;
	  background-image: url('../assets/login-bg-1.svg');
	  background-size:cover;
	}
  
	.image img{
	  width: 85px;
	}
  
	.titleBox{
	  width: 100%;
	  height: 100%;
	  border-radius: 0px;
	}
  }

  