
*{
	cursor:pointer;
}
.mainDiv{
	width:100%;
}

.sidePanel{
	width: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column
  }
  
  .sidePanel .childContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	gap: 30px;
  }
  
  .sidePanel .childContainer .createProjectInfo{
	border: 2px solid #E1E0E1; 
	width: 40px;
  }
  
  .sidePanel .logoutInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end; 
  }
  
  @media (max-width: 768px) {
	.sidePanel{
	  width: 100%;
	  flex-direction: row;
	  background-color: white;
	}
  
	.sidePanel .childContainer{
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  flex-grow: 1;
	  gap: 4;
	}
  
	.sidePanel .childContainer .createProjectInfo{
	  display: none;
	}
  
	.sidePanel .logoutInfo{
	  display: none;
	}
  }