
  * {
	cursor: pointer;
  }
  
  .sidePanel {
	width: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
  }
  
  .sidePanel .childContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px; 
	margin-bottom: 39px;
	margin-top: 251px;
  }
  
  .sidePanel .childContainer .createProjectInfo {
	border: 2px solid #E1E0E1;
	width: 40px;
  }
  
  .sidePanel .logoutInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	height:168px;
  }
  

  @media (max-width: 768px) {
	.sidePanel {
	  width: 100%;
	  flex-direction: row;
	  background-color: white;
	  /* margin-top: 0 !important; */
	  /* height: auto !important; */
	}
  
	.mainDiv .demo {
	  margin-left: 40px;
	}
  
	.sidePanel .childContainer {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  align-items: center;
	  flex-grow: 1;
	  gap: 10px; /* Adjust the gap as needed */
	  margin-right: 0px;
	  margin-top:0px;
	}

	.sidePanel{
		/* margin-top:0 !important; */
	}
  
	.sidePanel .childContainer .createProjectInfo {
	  display: none;
	}
  
	.sidePanel .logoutInfo {
	  display: none;
	}
  }
  